* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f5f5;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #0070f3;
}

h1 {
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem 2rem;
}

header h1 {
  color: #333;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.query-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

#query-inputs {
  width: 100%;
  max-width: 800px;
}

.keyword-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.query-keyword,
.query-value {
  flex: 1;
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remove-button {
  background-color: transparent;
  border: none;
  color: #f44336;
  cursor: pointer;
  font-size: 1.5rem;
}

.remove-button:focus {
  outline: none;
}

#add-query {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-query:hover {
  background-color: #0056b3;
}

.meta-desc {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  color: #777;
}

#query-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 1200px;
}

.query {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  float: left;
  display: block;
}

.query.unavailable {
  opacity: 0.4;
}

.query h3 {
  margin-bottom: 0.5rem;
  color: #333;
  font-size: medium;
}

.query p {
  font-family: monospace;
  font-size: 0.6rem;
  background-color: #000;
  color: #0ff;
  padding: 10px;
  margin: 0;
  white-space: pre-wrap;
  border-radius: 5px;
  overflow: hidden;
  word-wrap: anywhere;
  margin-bottom: .3rem;
}

.provider-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
  padding-right: 1rem;
}

.copy-button {
  display: inline-block;
  border: none;
  background-color: #0070f3;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  max-width: 10%;
}

.open-button {
  display: inline-block;
  border: none;
  background-color: #0070f3;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  max-width: 80%;
  float: right;
}

.copy-button:hover,
.open-button:hover {
  background-color: #0056b3;
}

.copy-button:focus,
.open-button:focus {
  outline: none;
}

.warning {
  background-color: #ffeb3b;
  color: #333;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
      transform: rotate(0);
  }
  20%, 60% {
      transform: rotate(-25deg);
  }
  40%, 80% {
      transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
      animation: none;
  }
  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
  }
}
