name: csv to json

on:
  push:
    paths:
      - '*.csv'
      - '.github/workflows/csv2json.yml'
  workflow_dispatch:

jobs:
  csv-to-json:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the repo
        uses: actions/checkout@v2
      - name: generate providers.json
        run: |
          python3 docs/csv2json.py providers.csv public/data/providers.json
      - name: generate queries.json
        run: |
          python3 docs/csv2json.py queries.csv public/data/queries.json
      - name: save changes
        run: |
          git config user.name github-actions
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git commit --all --message "ğšŒğš›ğš˜ğš—ğš‹ğš˜ğš" || echo "no changes to commit"
          git push
